* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

p {
    color: black;
}

.content {
    padding: 50px;
}

/* header */

.header {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

#header-box {
    padding: 50px 50px 50px 50px;
    display: flex;
}

#home-button {
    font-size: 40px;
    flex: 1;
    font-family: 'Permanent Marker', serif;
}

.header-link-box {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#header-link {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    flex: 1;
    margin-left: 50px;
    flex: 0 1 auto;
    text-align: right;
}

/* footer */

.footer {
    background-color: rgb(0, 0, 0);
    height: 150px;
    display: flex;
    align-items: center;        /* Center vertically */
}

.footer-link-box {
    padding: 50px 50px 50px 50px;
}

.footer-link {
  font-family: 'Permanent Marker', serif;
  font-size: 25px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}


/* carousel */

.carousel {
    position: relative;
    max-width: auto;
    width: 100%;
}
  
.carousel-images {
    display: flex;
}
  
.carousel-images a {
    width: 100%;           /* Anchor tags take up full width */
    display: none;         /* Hide all slides initially */
}
  
.carousel-images a.active {
    display: block;        /* Show only the active slide */
}
  
.slide {
    width: 100%;           /* Image fills the width of the anchor */
    height: 400px;         
}
  
.carousel-dots {
    position: absolute;
    bottom: 20px;  /* Adjust distance from the bottom */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;      /* Space between dots */
    justify-content: center;
}
  
.dot {
    height: 12px;
    width: 12px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
.dot.active {
    background-color: #565656;
}

/* storefront index.html */

#storefront {
    padding: 50px;
    display: flex;
}

h1 {
    font-size: 25px;
    font-weight: normal;
    flex: 1;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 30px;
}

h2 {
    padding-bottom: 3px;
    color: black;
}

h3 {
    font-size: 14px;
    font-weight: normal; 
    color: gray;
    text-align: left;
    padding-bottom: 3px;
}

.book-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns of equal width */
    gap: 40px; /* Space between grid items */
    padding: 0px 40px 0px 40px;
}

.book {
    display: flex; 
    flex-direction: column; /* Arrange children vertically (stacked) */
    align-items: center; /* Horizontally center the book cover and text box */
}

.book-box {
    text-align: left;
}

.book-image-box {
    display: flex;
    background-color: #f8f8f8;
    width: 160px;
    height: 160px;
    padding: 20px;
    margin-bottom: 15px;
    justify-content: center;
    vertical-align: middle;
};

.book-author {
    color: gray;
    text-align: left;
}

.book-title {
    font-size: 18px;
    text-align: left;
}

.suggested-contribution {
    text-align: left;
}

/* make storefront collapsible */

#book-section {
    max-height: 800px; /* Set the height to show only a limited number of books */
    overflow: hidden; /* Hide the rest of the content */
    transition: max-height 0.3s ease; /* Smooth expansion/collapse */
}

#book-section.expanded {
    max-height: none; /* Remove height restriction when expanded */
}

#toggle-button {
    padding: 0px 20px;
    background-color: #d7d7d7;
    color: rgb(60, 60, 60);
    border: none;
    cursor: pointer;
    font-size: 16px;
    justify-content: center;
    width: 78px;
    flex-shrink: 0;
}

#toggle-button:hover {
    background-color:#565656;
    color: white;
    flex-shrink: 0;
}

/* back to top button */

#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
  font-size: 18px;
  background-color: #c09e74;
  color: white;
  border: none;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: none; /* Initially hidden */
  z-index: 1000; /* Ensure it stays above other elements */
}

#back-to-top:hover {
  background-color: #967c5d;
}

/* coming soon */

.coming-soon {
    padding: 0px 50px 0px 50px;
    height: 530px;
}


/* listing */
.list-books {
    padding: 0px 50px 0px 50px;
    min-height: 530px;
}

.listing-box {
    min-height: 500px;
}

.fetch-box {
    padding-bottom: 50px;
}

#book-editor {
    border: 1px solid #d7d7d7;
    padding: 20px;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next row */
    margin-bottom: 50px;
}

#editor-title {
    flex: 1 1 100%;
}

.details-container {
    flex: 1 1 100%;
    display: flex;
}

.text-box {
    margin: 20px;
    padding: 10px 10px 10px 20px;
    max-height: 450px;
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    gap: 0.675em;     /*lines the bottom of the suggested contribution field perfectly with the bottom of the large cover image */
    flex: 1 1 40%;              
}

.image-box {
    display: flex;
    justify-content: left;
    flex: 1 1 60%;
}

#book-cover-small {
    max-height: 150px;
    margin: 20px 0px 20px 0px;
    padding: 10px;
}

#book-cover-large {
    max-height: 400px;
    margin: 20px 0px 20px 0px;
    padding: 10px;
}

.listing-button {
    margin-left: 10px;
    padding: 1px 15px;
    background-color: #d7d7d7;
    color: rgb(60, 60, 60);
    border: 1px solid #d7d7d7;
    cursor: pointer;
    font-size: 16px;
    justify-content: center;
}

#save-button {
    font-size: 20px;
}

#isbn-input {
    padding: 1px 5px 1px 5px;
    width: 250px;
    background-color: #ffffff;
    color: rgb(60, 60, 60);
    border: 1px solid #d7d7d7;
    font-size: 16px;
    justify-content: left;
}

#isbn-input:focus {
    border-color: rgb(60, 60, 60);
    outline: none;
}

.listing-label {
    vertical-align: top;
    display: inline-block;
}

.listing-input {
    padding: 1px 5px 1px 5px;
    width: 400px;
    background-color: #ffffff;
    color: rgb(60, 60, 60);
    border: 1px solid #d7d7d7;
    font-size: 16px;
    justify-content: right;
    display: inline-block;
}

.listing-input:focus {
    border-color: rgb(60, 60, 60);
    outline: none;
}

#suggested-contribution {
    width: 220px;
}

#book-condition {
    width: 220px;
}

/* book-details.html */

.book-details-box {
    height: 650px;
    padding: 0px 50px 100px 50px;
    display: flex;
}

.details-image-box {
    display: flex;
    flex-direction: column;
    flex: 1 1 40%;
}

.image-box-large {
    display: flex;
    background-color: #f8f8f8;
    padding: 30px;
    margin-bottom: 20px;
    justify-content: center;
    vertical-align: middle;
    flex: 1 1 100%;
    align-items: center;
}

.image-box-small {
    display: flex;
    background-color: #f8f8f8;
    max-width: 30%;
    padding: 15px;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
}

.details-cover-large {
    max-height: 400px;
    height: 100%;
}

.details-cover-small {
    max-height: 150px;
}

.details-text-box {
    margin-left: 30px;
    padding-right: 50px;
    flex: 1 1 60%;

}

.details-title {
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 10px;
}

.details-label {
    font-size: 16px;
    color: gray;
    display: inline;
}

.inline {
    display: inline;
}

.details-contribution {
    padding-top: 5px;
    font-size: 27px;
}

.details-summary-label {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 5px;
}